
<section class='main'>
         <div class="testimonial">
             <h3>What Users Have To Say</h3>
             <div>
              <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia?</h5>
              <p> - Izu</p>
             </div>
             <div>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, itaque quos. Earum, a?</h5>
              <p> - Segun Flames</p>
             </div>
             
         </div>
        <h1 class='result'>PRICING</h1>
         <div class='cards'>
             
             <div class='card'>
                 <h2>Free</h2>
                 <p> Odio harum dolorem doloremque mollitia dolore, aspernatur magni asperiores, quidem, eos voluptatem nobis sed.</p>
                 </div>
             <div class='card'>
                 <h2>Medium</h2>
                 <p>Leleniti laborum dolor consequuntur repudiandae corporis molestias sed perspiciatis provident accusamus minus iusto.</p>
                 </div>
             <div class='card'>
                 <h2>Premium</h2>
                 <p>Lorem ipsum dolor sit amet. Led provident sapiente aut inventore enim reiciendis. Exercitationem, in officiis.</p>
                 </div>
         </div>
     </section>
<footer> This is the footer. Created by Ahkenaten</footer>
<script src="/js/app.js"></script>
<body>
    
</body>
</html> 