<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>W! for weather</title>
</head>
<body>
    <header >
        
        <nav>
              
            <div class='links'>
    <a href="/weather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
            </div>
            
    
     </nav>

     <h1 class='header'>Weather <span>Inc</span> </h1>
     
     </header>

     

     
     

   
    

    
    