{{>header}}
<div class="result">
 <h2>How To Use</h2>
 <h4>We made it very simple to use, Input the location you want the weather checked into the searchbox, click on submit! simple as A B C!! </h4>
 </div>
{{>footer}}