{{>header}}
        <form>
         <input type="search" placeholder='Enter location'/>
         <button type='submit'>submit</button>
     </form>
     <div class='result'>
         <h3 id="place"></h3>
        <p id="weather"></p>
     </div>
{{>footer}}
    